@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

/*.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}*/

.profilepic--wrapper, .photographer--picture {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    /* border-radius: 50%; */
    position: relative;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.profilepic--bgcover {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
}

/* */ /*! problème avec les photos de profil sur la selection*/
article .profilepic:nth-of-type(1), article .profilepic:nth-of-type(2) {
    height: 174%;
    width: 177%;
    margin-left: -38%;
    margin-top: -36%;
}

article .profilepic:nth-of-type(3), article .profilepic:nth-of-type(4) {
    height: 174%;
    width: 232%;
    margin-left: -64%;
    margin-top: -20%;
}
/* */

.wrapper--circle {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: azure;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.pp--bg {
    border-radius: 20%;
}

.pp--top {
    border-radius: 50%;
}

.photographer--media {
    margin: 0 100px;
}

.sort {
    display: initial;
}

select {
    padding: 20px 15px;
    background-color: #901C1C;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.photographer--media .media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.media--content {
    width: 350px;
    height: 351px;
}

.media--content__medium {
    height: 300px;
    width: -webkit-fill-available;
    border-radius: 3px;
}

.media--content h3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.media--content h3 span {
    display: flex;
}

.like {
    width: 21px;
    height: 24px;
}

.likes-and-price {
    z-index: 10;
    background-color: #DB8876;
    border-radius: 3px 3px 0 0;
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 36px;
}